// z-index
// accountBoardDash:    -5;
// screenHolder:        -10;

// color pallete
// background: linear-gradient(to right bottom, #DDC4FC, #91C5FC)
// background: linear-gradient(to right bottom, #A36FE4, #297FD9)


.screenHolder {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: -10;
}

.accountBoardDash {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, #DDC4FC, #91C5FC);
    position: absolute;
    z-index: -5;
    top: 0;
}

.formHolder {
    width: 60%;
    max-width: 350px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    height: fit-content;

    border-radius: 3em;
    filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));

    background-color: white;

    .logoHolder {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -4em;
        margin-bottom: 1em;
        img {
            width: 6em;
            height: auto;
        }
    }

    .pageTriggerButtons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .triggerButtonCurrent {
            width: 40%;
            line-height: 2em;
            height: 2em;
            border-radius: 1em;
            display: inline-block;
            text-align: center;
            margin-top: 1em;
            margin-bottom: 1em;
            font-size: larger;
            background: linear-gradient(to right bottom, #A36FE4, #297FD9);
            color: white;
            cursor: pointer;
        }
        .triggerButton {
            width: 40%;
            line-height: 2em;
            height: 2em;
            display: inline-block;
            text-align: center;
            margin-top: 1em;
            margin-bottom: 1em;
            font-size: larger;
            background: none;
            cursor: pointer;
        }
    }

    .signForm {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .projectForm {
            width: 80%;
            margin-top: 1em;
            margin-bottom: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;

            .projectFormInput {
                width: 100%;
                display: flex;
                align-items: center;
                input {
                    width: 100%;
                    height: 2em;
                    margin-bottom: 1em;
                    border: none;
                    border-bottom: 1px solid #c9c9c9;
                    outline: none;
                }
                input:focus {
                    border-bottom: 1px solid #01C8DC;
                }
            }
        }
        .projectConfirmButton {
            width: 80%;
            margin-bottom: 1em;
            input {
                width: 100%;
                height: 2.5em;
                border-radius: 1em;
                border: none;
                background-color: #01C8DC;
                color: #ffffff;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .screenHolder {
        background-color: rgba(219, 216, 202, 0.3);
    }
    .accountBoardDash {
        height: 50%;
        border-radius: 0 0 0 5em;
    }
    .formHolder {
        width: 80%;
        min-width: 280px;
    }
}