


.adminScreenHolder {
    width: 100%;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    position: absolute;
    z-index: -10;

    background: linear-gradient(to right bottom, #DDC4FC, #91C5FC);
}

.adminHeaderHolder {
    width: 35%;
    min-width: 435px;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 0 2em 0 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 1em;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));
    .adminHeaderTitle {
        font-size: x-large;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        margin-bottom: 1em;
    };
}

.adminAllSessions {
    width: 35%;
    min-width: 435px;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 0 2em 0 2em;
    margin: 0.5em;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));
    .sessionDateHolder {
        width: 100%;
        margin-top: 0.5em;
        margin-bottom: 2em;
        
        .sessionDateHeader {
            width: 80%;
            margin-left: 15%;
            margin-right: auto;
            font-size: larger;
            font-weight: 500;

            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        .sessionBlock {
            display: flex;
            flex-direction: row;
            align-items: center;
    
            width: 80%;
            margin-left: auto;
            margin-right: auto;
    
            background-color: white;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            border-radius: 2em;
            margin-top: 1em;
            margin-bottom: 0.5em;
    
            filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));
    
            .sessionIcon {
                width: 20%;
                text-align: center;
                img {
                    width: 90%;
                    max-width: 45px;
                }
            }
            .sessionBlockDetail {
                width: 60%;
                .sessionName {
                    font-size: medium;
                    font-weight: 700;
                    color: #5F4591;
                }
                .sessionTime, .sessionPeople, .sessionRoom {
                    font-size: medium;
                    font-weight: 500;
                }
            }
            .sessionMoreIcon {
                width: 20%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .adminScreenHolder {
        background: rgba(219, 216, 202, 0.3);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }

    .adminHeaderHolder {
        width: 100%;
        min-width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 0 0 0 2em;
        margin: 0;

        position: relative;
        z-index: 95;

        background: linear-gradient(to right bottom, #DDC4FC, #91C5FC);
        .adminHeaderTitle {
            width: 70%;
        };
    }

    .adminAllSessions {
        width: 100%;
        min-width: 100%;
        padding-top: 4em;
        margin-top: -2em;
        padding-bottom: 1em;
        border-radius: 0 0 0 2em;

        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;

        position: relative;
        z-index: 75;

        background: none;

        .sessionDateHolder {
            width: 100%;

            .sessionDateHeader {
                width: 80%;
                margin-left: 15%;
                margin-right: auto;
                font-size: larger;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
            }

            .sessionBlock {
                display: flex;
                flex-direction: row;
                align-items: center;
    
                width: 80%;
                margin-left: auto;
                margin-right: auto;
    
                background-color: white;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                border-radius: 2em;
                margin-bottom: 1em;
    
                filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));
    
                .sessionIcon {
                    width: 20%;
                    text-align: center;
                    img {
                        width: 90%;
                        max-width: 45px;
                    }
                }
                .sessionBlockDetail {
                    width: 60%;
                }
                .sessionMoreIcon {
                    width: 20%;
                }
            }
        }
    }
}