// z-index 
// homeHolder:      -10
// greetingHolder:  95
// exerciseHistory: 85
// upcomingClass:   75

// menu page 850
// menu button 900

// color pallete
// background: linear-gradient(to right bottom, #DDC4FC, #91C5FC)
// background: linear-gradient(to right bottom, #A36FE4, #297FD9)

#root {
    height: fit-content;
}

.homeHolder {
    width: 100vw;
    height: 100vh;
    min-height: 480px;
    overflow-y: scroll;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    position: fixed;
    z-index: -10;

    background: linear-gradient(to right bottom, #DDC4FC, #91C5FC);

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.homeHolder::-webkit-scrollbar {
    display: none;
}

.greetingHolder {
    width: 35%;
    min-width: 315px;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 0 2em 0 2em;
    margin: 0.5em;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));
    .greetingTitle {
        font-size: x-large;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    };
    .greetingUserName {
        font-size: larger;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.exerciseHistory {
    width: 35%;
    min-width: 315px;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 0 2em 0 2em;
    margin: 0.5em;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));
    .historyTitle {
        font-size: larger;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    };
    .histroyIntro {
        font-size: medium;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .typeHolder {
        width: 80%;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        .typeImageHolder {
            margin-right: 1em;
        }
        .typeHistoryInfo {
            .typeTime {
                font-size: larger;
            }
        }
    }
}

.upcomingClass {
    width: 35%;
    min-width: 315px;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 0 2em 0 2em;
    margin: 0.5em;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));

    display: flex;
    flex-direction: column;

    .homeClassScrollHolder {
        width: 100%;
    }

    .classTitle {
        font-size: larger;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    };
    .classIntro {
        font-size: medium;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5em;
    }
    .emptySession {
        font-size: medium;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5em;
    }
    .sessionBlock {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 80%;
        margin-left: auto;
        margin-right: auto;

        background-color: white;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-radius: 2em;
        margin-top: 1em;
        margin-bottom: 0.5em;

        filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));

        .sessionIcon {
            width: 20%;
            text-align: center;
            img {
                width: 90%;
                max-width: 45px;
            }
        }
        .sessionBlockDetail {
            width: 60%;
        }
        .sessionMoreIcon {
            width: 20%;
        }
    }
}

.pageLoadingScreenHolder {
    width: 100vw;
    height: 100vh;
    min-height: 480px;
    overflow-y: scroll;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    position: fixed;
    z-index: -10;

    background: linear-gradient(to right bottom, #DDC4FC, #91C5FC);

    -ms-overflow-style: none;
    scrollbar-width: none;

    .pageLoading {
        width: 100%;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
        img {
            width: 100%;
        }
    }
}


@media screen and (max-width: 768px) {
    .homeHolder {
        display: inline-block;
        background: linear-gradient(to right bottom, #A36FE4, #297FD9);
    }
    
    .greetingHolder {
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 0 0 0 2em;
        margin: 0;

        position: relative;
        z-index: 95;

        background: linear-gradient(to right bottom, #DDC4FC, #91C5FC);
        .greetingTitle {
            width: 70%;
        };
        .greetingUserName {
            width: 70%;
        }
    }
    .exerciseHistory {
        width: 100%;
        padding-top: 4em;
        margin-top: -3em;
        padding-bottom: 1em;
        border-radius: 0 0 0 2em;

        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;

        position: relative;
        z-index: 85;

        background: white;
        .historyTitle {
            width: 70%;
        };
        .histroyIntro {
            width: 70%;
        }
        .typeHolder {
            width: 70%;
        }
    }
    .upcomingClass {
        width: 100%;
        padding-top: 4em;
        margin-top: -2em;
        padding-bottom: 1em;
        border-radius: 0 0 0 2em;

        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;

        position: relative;
        z-index: 75;

        background: none;

        .classTitle {
            font-size: larger;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            color: white;
        };
        .classIntro {
            font-size: medium;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1em;
            color: white;
        }
        .emptySession {
            font-size: medium;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1em;
            color: white;
        }

        .sessionBlock {
            display: flex;
            flex-direction: row;
            align-items: center;

            width: 80%;
            margin-left: auto;
            margin-right: auto;

            background-color: rgba($color: #ffffff, $alpha: 0.8);
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            border-radius: 2em;

            filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));

            .sessionIcon {
                width: 20%;
                text-align: center;
                img {
                    width: 90%;
                    max-width: 45px;
                }
            }
            .sessionBlockDetail {
                width: 60%;
            }
            .sessionMoreIcon {
                width: 20%;
            }
        }
    }
}