// z-index order
// myBookingsScreenHolder   -10

.myBookingsScreenHolder {
    width: 100vw;
    height: 100vh;
    min-height: 480px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    position: fixed;
    z-index: -10;

    overflow-y: scroll;

    background: linear-gradient(to right bottom, #DDC4FC, #91C5FC);

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.myBookingsScreenHolder::-webkit-scrollbar {
    display: none;
}

.myBookingsHeaderHolder {
    width: 35%;
    min-width: 435px;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 0 2em 0 2em;
    margin: 0.5em;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));
    .myBookingsHeaderTitle {
        font-size: x-large;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        margin-bottom: 1em;
    };
}

.allBookedSessions {
    width: 35%;
    min-width: 435px;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 0 2em 0 2em;
    margin: 0.5em;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));
    .sessionDateHolder {
        width: 100%;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        
        .sessionDateHeader {
            width: 80%;
            margin-left: 15%;
            margin-right: auto;
            font-size: larger;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        .sessionBlock {
            display: flex;
            flex-direction: row;
            align-items: center;
    
            width: 80%;
            margin-left: auto;
            margin-right: auto;
    
            background-color: white;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            border-radius: 2em;
            margin-top: 1em;
            margin-bottom: 0.5em;
    
            filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));
    
            .sessionIcon {
                width: 20%;
                text-align: center;
                img {
                    width: 90%;
                    max-width: 45px;
                }
            }
            .sessionBlockDetail {
                width: 60%;
            }
            .sessionMoreIcon {
                width: 20%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .myBookingsScreenHolder {
        background: rgba(219, 216, 202, 0.3);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }

    .myBookingsHeaderHolder {
        width: 100%;
        min-width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 0 0 0 2em;
        margin: 0;

        position: relative;
        z-index: 95;

        background: linear-gradient(to right bottom, #DDC4FC, #91C5FC);
        .myBookingsHeaderTitle {
            width: 70%;
        };
    }

    .allBookedSessions {
        width: 100%;
        min-width: 100%;
        padding-top: 4em;
        margin-top: -2em;
        padding-bottom: 1em;
        border-radius: 0 0 0 2em;

        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;

        position: relative;
        z-index: 75;

        background: none;

        .sessionDateHolder {
            width: 100%;
            margin-top: 0.5em;
            margin-bottom: 0.5em;

            .sessionDateHeader {
                width: 80%;
                margin-left: 15%;
                margin-right: auto;
                font-size: larger;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
            }

            .sessionBlock {
                display: flex;
                flex-direction: row;
                align-items: center;
    
                width: 80%;
                margin-left: auto;
                margin-right: auto;
    
                background-color: white;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                border-radius: 2em;
                margin-bottom: 1em;
    
                filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));
    
                .sessionIcon {
                    width: 20%;
                    text-align: center;
                    img {
                        width: 90%;
                        max-width: 45px;
                    }
                }
                .sessionBlockDetail {
                    width: 60%;
                }
                .sessionMoreIcon {
                    width: 20%;
                }
            }
        }

        
    }
    
}