// index
// personalImgIntroHolder       105
// personalHeaderHolder         95
// personalHeaderHolder         5
// sessionsScreenHolder     -10

.personalScreenHolder {
    width: 100%;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    position: absolute;
    z-index: -10;

    background: linear-gradient(to right bottom, #DDC4FC, #91C5FC);
}

.personalHeaderHolder {
    width: 35%;
    min-width: 435px;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 0 2em 0 2em;
    margin: 0.5em;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));

    position: relative;
    z-index: 5;

    .headerGoBackButton {
        font-size: large;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.5em;
    }
    .personalHeaderTitle {
        font-size: x-large;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5em;
    };
}

.personalImgIntroHolder {
    width: 35%;
    min-width: 435px;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 0 2em 0 2em;
    margin: 0.5em;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));

    display: flex;
    align-items: center;
    flex-direction: column;

    .personalImgHolder {
        width: 70%;
        display: flex;
        justify-content: center;
        img {
            width: 100%;
            max-width: 305px;
        }
    }
    .personalIntro {
        font-size: x-large;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.2em;
        text-align: center;
    }
    .personalSessionsQuan {
        font-size: large;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.2em;
        text-align: center;
    }
}

.allPersonalSessions {
    width: 35%;
    min-width: 435px;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 0 2em 0 2em;
    margin: 0.5em;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));
    .sessionDateHolder {
        width: 100%;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        
        .sessionDateHeader {
            width: 80%;
            margin-left: 15%;
            margin-right: auto;
            font-size: larger;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        .sessionBlock {
            display: flex;
            flex-direction: row;
            align-items: center;
    
            width: 80%;
            margin-left: auto;
            margin-right: auto;
    
            background-color: white;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            border-radius: 2em;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
    
            filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));
    
            .sessionIcon {
                width: 20%;
                text-align: center;
                img {
                    width: 90%;
                    max-width: 45px;
                }
            }
            .sessionBlockDetail {
                width: 60%;
            }
            .sessionMoreIcon {
                width: 20%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .personalScreenHolder {
        background: rgba(219, 216, 202, 0.3);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }
    .personalHeaderHolder {
        width: 100%;
        height: 25%;
        min-width: 100%;
        padding-top: 1em;
        padding-bottom: 4em;
        border-radius: 0 0 0 2em;
        margin: 0;

        position: relative;
        z-index: 95;

        background: linear-gradient(to right bottom, #DDC4FC, #91C5FC);
        .headerGoBackButton {
            width: 70%;
        }
        .personalHeaderTitle {
            width: 70%;
        };
    }
    .personalImgIntroHolder {
        width: 100%;
        min-width: 100%;
        margin: 0;

        position: relative;
        z-index: 105;

        display: flex;
        align-items: center;
        flex-direction: column;

        margin-top: -4em;

        background: none;

        .personalImgHolder {
            width: 70%;
            display: flex;
            justify-content: center;
            img {
                width: 100%;
                max-width: 305px;
            }
        }
        .personalIntro {
            font-size: x-large;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0.2em;
            text-align: center;
        }
        .personalSessionsQuan {
            font-size: large;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0.2em;
            text-align: center;
        }
    }
    .allPersonalSessions {
        width: 100%;
        min-width: 100%;
        padding-top: 1em;
        margin-top: -2em;
        padding-bottom: 1em;
        border-radius: 0 0 0 2em;

        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;

        position: relative;
        z-index: 75;

        background: none;

        .sessionDateHolder {
            width: 100%;
            margin-top: 0.5em;
            margin-bottom: 0.5em;

            .sessionDateHeader {
                width: 80%;
                margin-left: 15%;
                margin-right: auto;
                font-size: larger;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
            }

            .sessionBlock {
                display: flex;
                flex-direction: row;
                align-items: center;
    
                width: 80%;
                margin-left: auto;
                margin-right: auto;
    
                background-color: white;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                border-radius: 2em;
                margin-bottom: 1em;
    
                filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));
    
                .sessionIcon {
                    width: 20%;
                    text-align: center;
                    img {
                        width: 90%;
                        max-width: 45px;
                    }
                }
                .sessionBlockDetail {
                    width: 60%;
                }
                .sessionMoreIcon {
                    width: 20%;
                }
            }
        }
    }
}