// z-index
// sessionsScreenHolder     -10
// sessionsHeaderHolder     95
// sessionTypeHolder        75
// sessionImgHolder         80
// sessionInfoHolder        85

.sessionsScreenHolder {
    width: 100%;
    min-height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    position: absolute;
    z-index: -10;

    background: linear-gradient(to right bottom, #DDC4FC, #91C5FC);
}


.sessionsHeaderHolder {
    width: 35%;
    min-width: 435px;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 0 2em 0 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 1em;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));
    .headerGoBackButton {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.5em;
        .backButton {
            font-size: large;
            color: black;
        }
    }
    .sessionsHeaderTitle {
        font-size: x-large;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        margin-bottom: 1em;
    };
}

.sessionTypeHolder {
    width: 35%;
    min-width: 435px;
    
    border-radius: 0 2em 0 2em;
    margin: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;

    background-color: rgba($color: #ffffff, $alpha: 0.6);
    filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .sessionImgHolder {
        width: 55%;
        position: relative;
        z-index: 80;
        margin-right: -10%;
        img {
            width: 100%;
            height: auto;
        }
    }
    .sessionInfoHolder {
        width: 45%;
        position: relative;
        z-index: 85;
        .sessionInfoHeader {
            font-size: medium;
            font-weight: 700;
            color: #5F4591;
            margin-bottom: 0.5em;
        }
        .sessionInfoIntro {
            font-size: medium;
            margin-right: 0.5em;
            margin-bottom: 1em;
        }
        .sessionInfoButton {
            font-size: medium;
            width: fit-content;
            padding-left: 0.5em;
            padding-right: 0.5em;

            border-radius: 1em;
            border: none;

            background-color: #01C8DC;
            color: #ffffff;
            cursor: pointer;

            filter: drop-shadow(0 .5em 1em rgba(128,128,128,.3));
        }
    }
}

@media screen and (max-width: 768px) {
    .sessionsScreenHolder {
        background: rgba(219, 216, 202, 0.3);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }
    .sessionsHeaderHolder {
        width: 100%;
        min-width: 320px;
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 0 0 0 2em;
        margin: 0;

        position: relative;
        z-index: 95;

        background: linear-gradient(to right bottom, #DDC4FC, #91C5FC);
        .headerGoBackButton {
            width: 70%;
        }
        .sessionsHeaderTitle {
            width: 70%;
        };
    }
    .sessionTypeHolder {
        width: 100%;
        min-width: 320px;
        padding-top: 4em;
        margin-top: -2em;
        padding-bottom: 1em;
        border-radius: 0 0 0 2em;

        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;

        position: relative;
        z-index: 75;

        background: none;
    }
}